/* 冒頭でimport */
@import url(https://fonts.googleapis.com/earlyaccess/nikukyu.css);

/* フロートで浮かせない為に */
/* .clearfix:after{
  content:"";
  display: block;
  clear: both;
}
#category .blog-list li{
  float: left;
  list-style: none;
  margin: 0 20px 15px 0
}
#category .blog-list li:nth-child(3n){
  margin-right: 0;
} */
.title{
  font-family: 'HG創英角ポップ体','Hannotate SC','Comic Sans MS','Chalkduster',cursive,fantasy,sans-serif;
  font-size: 18px;
}

#first{
  margin-bottom: 50px;
}

#first > h1{
  margin-bottom: 0;
}
#first > p{
  margin-top: 5px;
}

header{
  background-color: #FFCC00;
  padding-top: 5px;
  padding-bottom: 1px;
  /* フォントを指定したいところで */
  font-family: 'Nikukyu';
  font-size: 20px;
  text-align: center;
  color: #000;
}

.breadcrumb{
  list-style: none;
  /* border: 1px solid #b3b3b3; */
  padding: 3px 20px;
  border-radius: 5px;
  /* background-color: #ececec; */
  font-size: 14px;
}

.breadcrumb a{
  color: #FA5700;
}
.breadcrumb a:hover{
  cursor: pointer;
  color: blue;
}

.breadcrumb li{
  display: inline-block;
}

.breadcrumb li::after{
  content: ">>";
  padding: 0 5px;
  color: #b3b3b3;
}

.breadcrumb li:last-child::after{
  content: none;
}

html{
  font-size: 62.5%;
}

body{
  padding: 30px;
  background-color: #f6f7fb;
  color: #333;
  font-size: 1.2rem;
  font-family: 'Hiragino Kaku Gothic ProN',sans-serif;
  margin: 0;
  padding: 0;
}

.main{
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.container{
  max-width: 900px;
  display: grid;
  margin: 0 auto;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

*, *::before, *::after{
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active{
  color: #7c5119;
  text-decoration: none;
}

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #fff;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

/* .grid-item--width3,
.grid-item--width2{
  background-image: url(../img/leef.jpg);
  background-position: center;
  background-size: cover;
} */

.grid-item{
  /* width: 180px; */
  height: 250px;
  margin-bottom: 4px;
  padding: 8px;
  border-bottom: 3px solid;
  border-radius: 5px;
  background-color: #fff;
}

.grid-item .image{
  display: block;
  width: 100%;
}

.grid-item .category{
  margin: 15px 9px 10px;
  color: #aaa;
  letter-spacing: 1px;
  font-family: "Trebuchet MS",'Hiragino Kaku Gothic ProN',sans-serif;
}

.grid-item .discription{
  margin: 10px;
  line-height: 1.5;
}
.grid-item > a{
  display: block;
  margin: -8px -8px -11px;
  padding: 8px 8px 11px;
  border-radius: inherit;
  color: #777;
  transition: all 0.3s;
}

.grid-item > a:hover{
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.image-leef{
  display: block;
  width: 50%;
  margin: auto;
}

.image-leef3{
  display: block;
  width: auto;
  height: 140px;
  margin-left: auto;
  margin-right: auto;
}

.pager {
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 0;
    font-family: 'HG創英角ポップ体','Hannotate SC','Comic Sans MS','Chalkduster',cursive,fantasy,sans-serif;
}
.pager ul {
    list-style: none;
    /* background: #eee; */
    position: relative;
    left: 50%;
    float: left;
    padding-left: 0;
}

/* li要素の配置方法も相対位置にします */
.pager ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 1px;
}
.pager ul li span{
  color: blue;
}

.pager ul li span,
.pager ul li a {
    display: block;
    font-size: 13px;
    padding: 1em 1em;
    border-radius: 6px;
}
.pager ul li a {
    background: #ffdb00;
    color: #fff;
    text-decoration: none;
}
.pager ul li a:hover {
    background: #333;
    color: #FFCC00;
}

footer{
  background-color: #FFCC00;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #fff;
  font-family: 'Comic Sans MS','Chalkduster',cursive,fantasy;
}

.foot{
  color: blue;
}

@media screen and (max-width: 750px){
  .grid-item{
    font-size: 10px;
  }
}

/* 画面サイズが600以下の場合に適応する */
@media screen and (max-width: 600px){
  .grid-item{
    font-size: 12px;
  }

  body{
    padding: 0;
    font-size: 3.5vw;
  }
    h1{
    font-size: 7.2vw;
  }

  h2{
    font-size: 6vw;
  }

  /* .grid{
    width: 150px;
    column-width: 150px;
  } */

  .grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  height: 250px;
  float: left;
  background: #fff;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width:  50%; }
.grid-item--width3 { width:  50%; }

.grid-item--height2 { height: 250px; }
.grid-item--height3 { height: 250px; }
.grid-item--height4 { height: 250px; }

.grid-item .image{
  display: block;
  width: 100%;
  height: 110px;
}
.grid-item:last-child{
  height: 150px;
  width: 100%;
  display: none;
}

.image-leef,
.image-leef3{
  display: block;
  width: 100%;
  height: 110px;
}

}

@media (min-width: 570px){


header{
  line-height: 70px;
  font-size: 30px;
  text-align: center;
}



footer{
  background-color: #FFCC00;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 30px;
  color: #fff;
  font-size: 16px;
}

.foot{
  color: blue;
}
