/* 冒頭でimport */
@import url(https://fonts.googleapis.com/earlyaccess/nikukyu.css);

body{
  font-family: 'Hannotate SC','Comic Sans MS','Chalkduster','cursive','Hannotate TC','MS UI Gothic',sans-serif;
  font-size: 1.2rem;
  background: url(../img/leef.jpg) no-repeat center center/cover;
  background-size: contain;
  color: #fff;
  margin: 0;
}

header{
  background-color: #FFCC00;
  padding-top: 5px;
  padding-bottom: 1px;
  /* フォントを指定したいところで */
  font-family: 'Nikukyu';
  font-size: 20px;
  text-align: center;
  color: #000;
}
.head ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'HG創英角ポップ体','Arial Rounded MT Bold','Hannotate SC','Comic Sans MS',cursive,fantasy,sans-serif;
}
.head a{
  display: block;
  padding: 15px;
  font-size: 12px;
}
.head a:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
  margin-bottom: 0;

}

  iframe{
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
  }



footer{
  background-color: #FFCC00;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #fff;
  font-family: 'Comic Sans MS','Chalkduster',cursive,fantasy;
}

.foot{
  color: blue;
}



/* pc screen */

/* 570pxより大きくなったら変更してね */


@media (min-width: 570px){


header{
  line-height: 70px;
  font-size: 30px;
}
footer{
  background-color: #FFCC00;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 30px;
  color: #fff;
  font-size: 15px;
}
.foot{
  color: blue;
}

}

@media screen and (max-width: 600px){
  body{
    padding: 0;
    font-size: 3.5vw;
  }
    h1{
    font-size: 7.2vw;
  }

  h2{
    font-size: 6vw;
  }
    .navMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* トグルボタン */
  .head0{
    margin-right: 10px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
    opacity: 0.8;
    cursor: pointer;
  }
  .head0:hover{
    opacity: 0.3;
  }
.head{
  display: none;
}
h1{
  margin-left: 30px;
}

