/* 冒頭でimport */
@import url(https://fonts.googleapis.com/earlyaccess/nikukyu.css);

body{
  font-family: 'Hannotate SC','Comic Sans MS','cursive','Hannotate TC','MS UI Gothic',sans-serif;
}

header{
  background-color: #FFCC00;
  padding-top: 5px;
  padding-bottom: 1px;
  /* フォントを指定したいところで */
  font-family: 'Nikukyu';
  font-size: 20px;
  text-align: center;
  color: #000;
}
body{
  background: url(../img/leef.jpg) no-repeat center center/cover;
  background-size: contain;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  color: #fff;
  margin-bottom: 0;
}

.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
  margin-bottom: 0;

}

  iframe{
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
  }



footer{
  background-color: #FFCC00;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #fff;
  font-family: 'Comic Sans MS',cursive,fantasy;
}

.foot{
  color: blue;
}

/* pc screen */

/* 570pxより大きくなったら変更してね */


@media (min-width: 570px){


header{
  line-height: 70px;
  font-size: 30px;
  text-align: center;
}



footer{
  background-color: #FFCC00;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 30px;
  color: #fff;
}

.foot{
  color: blue;
}

}
