@charset "UTF-8";

body{
  max-width: 900px;
  margin: auto;
}
.slickbox{
  margin-top: 30px;
}
h1{
  max-width: 700px;
  font-size: 18px;
  margin: auto;
  margin-top: 30px;
}

img{
  width: 100%;
  height: 50%;
}
